.filters {
    background-color: white;
    margin: 20px 0px;
    h6 {
        font-size: 14px;
      }
    .button-group{
        display: inline-flex;
        margin-bottom: 10px;
        .btn{            
            margin-right: 30px;
        }
 }

}